node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
.eslintcache

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.expo/
dist/
web-build/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

backend/.env
backend/node_modules/

frontend/.env
frontend/node_modules/
frontend/.expo/
frontend/dist/
frontend/web-build/
